      body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #000; /* Fondo negro por defecto antes de entrar a AR */
            font-family: sans-serif;
        }

        /* Información en pantalla para usuarios sin AR */
        #info {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            color: white;
            z-index: -1; /* Lo ponemos detrás del botón de AR */
        }